//
// site.pack.scss
// johjakob.de/workshop
//
// © 2019 Johannes Jakob
// Made with <3 in Germany
//

// Imports

@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:500');

// Variables

$color__black: #222;
$color__gray: #555;
$color__gray-light: #ccc;
$color__white: #fff;
$color__gray-ultralight: #eee;
$color__blue: #007bff;
$color__blue-light: #5ac8fa;

$gradient__blue: linear-gradient(to right, $color__blue 0%, $color__blue-light 100%);

$size__max-width-content: 1200px;

// Base

* {
  margin: 0;
  padding: 0;
  color: $color__black;
  text-decoration: none;
  box-sizing: border-box;
  outline: none
}

html {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body {
  background: $color__white;
  font-size: 12pt
}

header, main, footer {
  margin: 0 auto;
  max-width: $size__max-width-content
}

header {
  padding: 2em;

  nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;

    li {
      margin: 0 1em;
      font-size: 1.2em;

      &:last-child {
        margin-right: 0
      }

      a {
        color: $color__gray;

        &:hover {
          color: $color__black
        }
      }
    }
  }
}

main {
  div {
    padding: 2em 2em 1em 2em;
    border-bottom: 1px solid $color__gray-light;

    div {
      padding: 0;
      border: 0
    }

    h2 {
      margin-bottom: .5em;
      font-size: 1.5em;
      line-height: 1.2;
    }

    a {
      color: $color__blue
    }
  }
}

footer {
  padding: 2em;
  
  p {
    color: $color__gray
  }

  a {
    color: $color__gray;

    &:hover {
      color: $color__black
    }
  }
}

p {
  margin-bottom: 1em;
  line-height: 1.5
}

input[type="radio"] {
  display: none;

  &:checked ~ label {
    color: $color__blue
  }
}

label {
  color: $color__gray;
  font-size: 1.2em;
  font-weight: 500;
  cursor: pointer
}

code {
  margin-bottom: 1em;
  padding: .5em .6em;
  font-family: 'Roboto Mono', monospace;
  background: $color__gray-light;
  display: inline-block
}

// Classes

.nav-li-active a {
  color: $color__black;
  font-weight: 600
}

.section-hero {
  padding: 2em 2em 4em 2em;
  border-bottom: 1px solid $color__gray-light;

  h1 {
    margin-bottom: .1em;
    font-size: 2.5em;
    font-weight: 600
  }

  .p-heading-extension {
    margin-bottom: 2em;
    font-size: 1.2em;
    text-transform: uppercase
  }

  .p-subheading {
    margin-bottom: .5em;
    color: $color__gray;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: .02em
  }

  .p-date {
    margin-bottom: .7em;
    padding: .5em .6em;
    color: $color__white;
    background: $color__black;
    display: inline-block
  }
}

.section-intro {
  padding: 2em;

  p {
    margin-bottom: 1em;
    max-width: $size__max-width-content / 2
  }
}

.div-input {
  padding: 2em;
  display: flex;
  justify-content: flex-start;
  
  div {
    padding: 0 1em;

    &:first-child {
      padding-left: 0
    }
  }
}

.a-action {
  margin: 1em 0;
  color: $color__blue;
  font-weight: 500;
  display: block
}

// Size adaptations

@media (min-width: 801px) {
  // Base

  main > div {
    display: flex;

    h2 {
      margin-right: 2em;
      min-width: $size__max-width-content / 3;
      max-width: $size__max-width-content / 3;
      display: block;
    }
  }

  // Classes

  .div-input {
    padding-left: $size__max-width-content / 3;

    div:first-child {
      padding-left: 5em
    }
  }
}
